*.o
*.obj
obj/
ed1
ed1.exe
test
test.exe
tests/test
*.pdb
*.ilk
*.o.tmp
.DS_Store
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
DerivedData/
winforms/x64/
winforms/obj/
*.pdb
*.log
gui.png
